h2{
    text-align: center;
}
.clock{
    background-color: blue;
    padding: 40px 60px;
    border-radius: 12px;
    font-size: 3em;
    letter-spacing: 2px;
}
body{
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}