body{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    background-color: lightblue;
    height: 100vh;
    transition: background-color 0.5s;

}
button{
    padding: 20px 40px;
    background-color: red;
    border-radius:50px ;
    border: none;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: grey;
}